.page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head {
  background: #fc0;
  height: 100px;
  position: relative;
  width: 100px;
  border-radius: 50%;
}
.face {
  display: flex;
  flex-direction: column;
  font-family: 'courier new', serif;
  font-size: 2.5em;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 30%;
<<<<<<< HEAD
  
=======
>>>>>>> animation-js
}
.eyes-open{
  left: 50%;
  top: 20%;
  transform: translate(-50%, -40%) rotate(90deg);
}
<<<<<<< HEAD

=======
>>>>>>> animation-js
.mouth {
  transform: translate(-50%, -50%) rotate(90deg);
}
.hidden{
  display: none;
}